# Simple Linear Regression from Scratch Using Numpy and Pandas

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import matplotlib as plot

In [7]:
data = pd.read_csv('/home/shon/Desktop/regression/brain.csv',sep=',')

In [8]:
data.describe()

           Gender   Age Range  Head Size(cm^3)  Brain Weight(grams)
count  237.000000  237.000000       237.000000           237.000000
mean     1.434599    1.535865      3633.991561          1282.873418
std      0.496753    0.499768       365.261422           120.340446
min      1.000000    1.000000      2720.000000           955.000000
25%      1.000000    1.000000      3389.000000          1207.000000
50%      1.000000    2.000000      3614.000000          1280.000000
75%      2.000000    2.000000      3876.000000          1350.000000
max      2.000000    2.000000      4747.000000          1635.000000

In [12]:
data.columns

Index(['Gender', 'Age Range', 'Head Size(cm^3)', 'Brain Weight(grams)'], dtype='object')

In [13]:
data.shape[0]

237

In [14]:
data[data.isnull().any(axis=1)]

Empty DataFrame
Columns: [Gender, Age Range, Head Size(cm^3), Brain Weight(grams)]
Index: []

In [15]:
data.head()

   Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
0       1          1             4512                 1530
1       1          1             3738                 1297
2       1          1             4261                 1335
3       1          1             3777                 1282
4       1          1             4177                 1590

In [16]:
x=data['Head Size(cm^3)']

In [17]:
y=data['Brain Weight(grams)']

In [19]:
mean_x = np.mean(x)

In [20]:
mean_y = np.mean(y)

In [21]:
covariance = 0
variance = 0

In [22]:
for i in range(len(x)):
    covariance += (x[i] - mean_x) * (y[i]-mean_y)
    variance += (x[i] -mean_x)**2

In [23]:
w = covariance/variance
b = mean_y - (w *mean_x)

In [24]:
print(w,b)

0.26342933948939945 325.57342104944223

In [26]:
rmse = 0

In [27]:
for i in range(len(x)):
    y_pred = w * x[i] +b
    rmse += (y[i]-y_pred)**2

In [28]:
rmse = np.sqrt(rmse/len(x))

In [29]:
print(rmse)

72.1206213783709